* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3.page-title {
    text-align: center;
}

.responsive-input {
    padding: .5rem 1rem; /* This is the padding for 'lg' size */
    font-size: 1.25rem; /* This is the font-size for 'lg' size */
}


/*      PROFILE     */
@media (max-width: 804px) {
    .profile-icon-label {
        display: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: table-cell;
    }
}

@media (min-width: 805px) {
    .profile-icon-label {
        width: 60px;
        text-align: left;
        font-size: 1rem;
    }

    .desktop {
        display: table-cell;
    }

    .mobile {
        display: table-cell;
    }
}


.email-icon {
    color: dodgerblue;
    margin-right: 10px;
}

.location-icon {
    color: red;
    margin-right: 10px;
}

.access-icon {
    color: goldenrod;
    margin-right: 10px;
}

.text-value-size {
    font-size: 2.5rem;
}

/*      USER        */
.desktop {
    display: none;
}

.mobile {
    display: table-cell;
}




